div {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

header {
    background-color: #ff4500;
    flex-basis: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
}

.aside-left {
    background-color: #008000;
    width: 20%;
}

section {
    background-color: #00eeff;
    width: 60%;
}

.aside-right {
    background-color: #ffc0cb;
    width: 20%;
}

footer {
    background-color: rgb(92, 98, 173);
    flex-basis: 100%;
}

@media (min-width:768px) and (max-width:992px) {
    section {
        width: 60%;
    }
    
    .aside-right {
        width: 40%;
    }
    .aside-left {
        width: 100%;
        order: 2;
    }
}

@media (max-width:768px) {
    section,
    .aside-right,
    .aside-left {
        width: 100%;
    }

    section {
    order: -1;
    }
}